

p               { color: #000000; font-weight: normal; font-family: Verdana, Arial, Helvetica, Sans-Serif; size: 1; }

a               { color: #FFFFFF; font-weight: bold; text-decoration: none; font-family: Verdana, Arial, Helvetica, Sans-Serif; size: 1; }

a:visited       { color: #FFFFFF; font-weight: bold; text-decoration: none; font-family: Verdana, Arial, Helvetica, Sans-Serif; size: 1;  }

a:hover         { color: #FFA443; font-weight: bold; text-decoration: none; font-family: Verdana, Arial, Helvetica, Sans-Serif; size: 1;  }

a.link          { color: #FFFFFF; font-weight: bold; text-decoration: none; font-family: Verdana, Arial, Helvetica, Sans-Serif; size: 1;  }

a.link:visited  { color: #FFFFFF; font-weight: bold; text-decoration: none; font-family: Verdana, Arial, Helvetica, Sans-Serif; size: 1;  }

a.link:active   { color: #FFFFFF; font-weight: bold; text-decoration: none; font-family: Verdana, Arial, Helvetica, Sans-Serif; size: 1;  }

a.link:hover    { color: #FFA443; font-weight: bold; text-decoration: none; font-family: Verdana, Arial, Helvetica, Sans-Serif; size: 1;  }

select          { color: #3333FF; font-size: 10px; font-family: Verdana; background-color: transparent; }

input           { color: #3333FF; font-size: 10px; font-family: Verdana; background-color: transparent; }

textarea        { color: #3333FF; font-size: 10px; font-family: Verdana; background-color: transparent; }

